<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        /* base style */
        * {
        margin: 0;
        font-family: "Quicksand";
        color: #333;
        }

        /* body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        } */

        .chat-container {
            max-width: 600px;
            margin-top: 100px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .chat-header {
            text-align: center;
            font-size: 24px;
            color: #f1356d;
        }

        .message-container {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            background-color: #f5f5f5;
        }

        .message {
            font-size: 16px;
            color: #333;
            text-align: left;
        }

        .user-message {
            background-color: #f481a3;;
            color: #fff;
            border-radius: 5px;
        }

        .user-message .message {
            color: #fff;
            text-align: right;
        }

        .input-container {
            margin-top: 20px;
        }

        input[type="text"] {
            width: 80%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            width: 17%;
            padding: 5px 10px;
            background-color: #f1356d;;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            Chat Room
        </div>

        <div class="message-container user-message">
            <div class="message js-chat-group">
                you are now connected to the chat room.
            </div>
        </div>

        <div class="input-container">
            <input type="text" id="message" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var chatRoom = ''; 
        let msg = '';
        const connectedUserId = Number('<%= connectedUserId %>');
        const connectedUserName = '<%= connectedUserName %>';
        let senderName;
        let senderId;
        let displayMsg;

        function startChat(userId) {
            socket.emit('startChat', { userId });
        }

        const userId = localStorage.getItem('userId');

        startChat(userId);

        socket.on('chatStarted', ({ room }) => {
            chatRoom = room;
        });

        if(chatRoom.trim() !== "") {
            let chatGroup = document.querySelector('.js-chat-group');

            chatGroup.innerHTML = `You are now connected to the ${chatRoom} room.`;
        }
        
        socket.on('messageReceived', ({ message, sender, senderN }) => {
            senderId = sender;
            senderName = senderN;
            msg = message;

            if (msg.trim() !== "") {
                const messageContainer = document.createElement("div");

                if(connectedUserId === senderId) {
                    messageContainer.className = "message-container user-message";
                    displayMsg = 'You: ' + msg;
                } else {
                    messageContainer.className = "message-container message";
                    displayMsg = senderName + ': ' + msg;
                }

                const messageElement = document.createElement("div");
                
                messageElement.className = "message";
                messageElement.innerText = displayMsg;
                messageContainer.appendChild(messageElement);
                document.querySelector(".chat-container").appendChild(messageContainer);
            }
        });

        function sendMessage() {
            const messageInput = document.getElementById("message");
            const message = messageInput.value;

            if (chatRoom) {
                socket.emit('sendMessage', { room: chatRoom, message, sender: connectedUserId, senderN: connectedUserName });

                messageInput.value = "";
            } else {
                console.log('No chat room found.')
            }

        }
    </script>
</body>
</html>